.not-icon {
  color: #484848;
}

.not-main {
  padding: 6px 6px;
  border: 1px solid #CDCDCD;
}

.new-not:before {
  position: absolute;
  content: '';
  top: 8px;
  right: 5px;
  width: 11px;
  height: 11px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: red;
}

/* -----------default-table------- */
.default-table th,
.default-table td {
  padding: 16px 16px;
}

.graybutton {
  background: #E7E7E7;
  border: 1px solid #D5D5D5;
  padding: 10px 10px;
  max-width: 130px;
  width: 100%;
}

.bluebutton {
  background: var(--blue);
  border: 1px solid var(--blue);
  padding: 10px 10px;
  max-width: 130px;
  width: 100%;
}

.search-bg {
  background: #D5D5D5;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.custom-rounded {
  border-radius: 6px;
}

.text-grey {
  color: #979797;
}

.border-blue {
  border: 1px solid #3551B6;
}

.max-content {
  max-width: 50px
}

.input-arrow-none::-webkit-inner-spin-button,
.input-arrow-none::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-arrow-none {
  -moz-appearance: textfield;
}

.decrease,
.increase {
  border: 1px solid #9A9A9A;
  border-radius: 50%;
  padding: 6px 6px;
  color: #9A9A9A;
}

.decrease-active {
  background: #C13515;
  border: 1px solid #C13515;
  color: #fff;
}

.increase-active {
  background: var(--blue);
  border: 1px solid var(--blue);
  color: #fff;
}

.owner-img {
  max-width: 50px;
  border-radius: 50%;
}

.property-img {
  max-width: 140px;
}

.bg-grey2 {
  background: #E0E2E6;
}

.platform-img {
  max-width: 80px;
}

.detail-bg {
  background: #E0E2E666;
}

.edit-bg {
  background: #E0E2E666;
}

.detail-icon {
  width: 18px;
}

.detail-user-img {
  max-width: 120px;
}

.detail-user-img2 {
  max-width: 80px;
}

.property-main {
  max-width: 70px;
}

.vertical-tabs.main-tabs .nav-tabs .nav-link.active {
  background: #32F0CD;
  color: #fff !important;
  border-radius: 6px 0 0 6px;
}

.vertical-nav-box {
  background: #F7F7F7;
}

.vertical-tab-left {
  max-width: 200px;
}

.vertical-tab-right {
  width: calc(100% - 210px);
  height: calc(100dvh - 141px);
  overflow: auto;
}

.bell {
  width: 60px;
}

.setting-bg {
  background: #F7F7F7;
}

.setting-shadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.payment-img {
  max-width: 80px;
}

.border-tab-0 {
  position: relative;
}

.border-tab-0:before {
  position: absolute;
  content: '';
  background: #717171;
  height: 24px;
  width: 2px;
  right: 0;
}

.web-nav .dropdown-menu {
  background: #fff;
}

.web-nav .dropdown-menu li a {
  color: var(--blue);

}

.web-nav .dropdown-menu .dropdown-item:hover {
  background: #F4B942;
}

.feature-active {
  display: none;
}

.web-nav .dropdown-menu .dropdown-item:hover .feature-active {
  display: block;
}

.web-nav .dropdown-menu .dropdown-item:hover .feature {
  display: none;
}

.feature-img img {
  width: 18px;
  height: auto;
  object-fit: contain;
}

/* --------checkbox------ */
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .checkbox-wrapper-13 input[type=checkbox] {
    --active: #000;
    --active-inner: #fff;
    --focus: 0px rgba(39, 94, 254, .3);
    --border: #BBC1E1;
    --border-hover: #000;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }

  .checkbox-wrapper-13 input[type=checkbox]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  }

  .checkbox-wrapper-13 input[type=checkbox]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
  }

  .checkbox-wrapper-13 input[type=checkbox]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }

  .checkbox-wrapper-13 input[type=checkbox]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }

  .checkbox-wrapper-13 input[type=checkbox]:disabled+label {
    cursor: not-allowed;
  }

  .checkbox-wrapper-13 input[type=checkbox]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }

  .checkbox-wrapper-13 input[type=checkbox]:focus {
    box-shadow: 0 0 0 var(--focus);
  }

  .checkbox-wrapper-13 input[type=checkbox]:not(.switch) {
    width: 21px;
  }

  .checkbox-wrapper-13 input[type=checkbox]:not(.switch):after {
    opacity: var(--o, 0);
  }

  .checkbox-wrapper-13 input[type=checkbox]:not(.switch):checked {
    --o: 1;
  }

  .checkbox-wrapper-13 input[type=checkbox]+label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 4px;
  }

  .checkbox-wrapper-13 input[type=checkbox]:not(.switch) {
    border-radius: 4px;
  }

  .checkbox-wrapper-13 input[type=checkbox]:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
  }

  .checkbox-wrapper-13 input[type=checkbox]:not(.switch):checked {
    --r: 43deg;
  }
}

.checkbox-wrapper-13 * {
  box-sizing: inherit;
}

.checkbox-wrapper-13 *:before,
.checkbox-wrapper-13 *:after {
  box-sizing: inherit;
}

/* --------slider------ */
.slider-p {
  min-height: 124px;
  max-height: 124px;
  overflow: auto;
}

.slick-prev:before {
  display: none;
}

.slick-next:before {
  display: none;
}

.high-slide .slick-prev,
.high-slide .slick-next {
  position: absolute;
  top: 6px;
  transform: translateY(0);
}

.high-slide .slick-prev,
.high-slide .slick-next {
  width: 60px;
}

.high-slide .slick-prev img,
.high-slide .slick-next img {
  width: 100%;
}

.high-slide .slick-next {
  right: 0px;
}

.high-slide .slick-prev {
  right: 70px;
  left: auto;
}

.high-slide .slick-slider {
  position: static;
}

.high-slide .slider-box {
  padding: 10px 10px;
}

.high-slide .slick-slider {
  margin: 0 -10px;
  padding: 0;
}

.bg-tag {
  background: #B4DFE5;
}

.filter-det-box {
  height: 224px;
}

.filter-det-box {
  overflow: auto;
}

.slick-slide:nth-child(5n+1) .slider-bg {
  border: 2px solid #6D86DF;
}

.slick-slide:nth-child(5n+2) .slider-bg {
  border: 2px solid #DF6D96;
}

.slick-slide:nth-child(5n+3) .slider-bg {
  border: 2px solid #FF9900;
}

.slick-slide:nth-child(5n+4) .slider-bg {
  border: 2px solid #FD6363;
}

.slick-slide:nth-child(5n+5) .slider-bg {
  border: 2px solid #6DDF9B;
}


.slick-slide:nth-child(5n+1) .comma,
.slick-slide:nth-child(5n+1) .user-slide {
  color: #6D86DF;
}

.slick-slide:nth-child(5n+2) .comma,
.slick-slide:nth-child(5n+2) .user-slide {
  color: #DF6D96;
}

.slick-slide:nth-child(5n+3) .comma,
.slick-slide:nth-child(5n+3) .user-slide {
  color: #FF9900;
}

.slick-slide:nth-child(5n+4) .comma,
.slick-slide:nth-child(5n+4) .user-slide {
  color: #FD6363;
}

.slick-slide:nth-child(5n+5) .comma,
.slick-slide:nth-child(5n+5) .user-slide {
  color: #6DDF9B;
}

.slick-slide:nth-child(5n+1) .user-slide {
  display: flex;
  align-items: center;
  background-color: rgb(109, 134, 223, 0.2);
  border-radius: 50%;
  padding: 8px 8px;
}

.slick-slide:nth-child(5n+2) .user-slide {
  display: flex;
  align-items: center;
  background-color: rgb(223, 109, 151, 0.2);
  border-radius: 50%;
  padding: 8px 8px;
}

.slick-slide:nth-child(5n+3) .user-slide {
  display: flex;
  align-items: center;
  background-color: rgb(255, 153, 0, 0.2);
  border-radius: 50%;
  padding: 8px 8px;
}

.slick-slide:nth-child(5n+4) .user-slide {
  display: flex;
  align-items: center;
  background-color: rgb(253, 99, 99, 0.2);
  border-radius: 50%;
  padding: 8px 8px;
}

.slick-slide:nth-child(5n+5) .user-slide {
  display: flex;
  align-items: center;
  background-color: rgb(109, 223, 156, 0.2);
  border-radius: 50%;
  padding: 8px 8px;
}

.custom-feature:before {
  position: absolute;
  content: '';
  height: 100%;
  background: url("../img/houseBefore.png") no-repeat;
  width: 30%;
  background-position: 100% 10%;
}

.custom-feature:after {
  position: absolute;
  content: '';
  background: url("../img/houseAfter.png") no-repeat;
  height: 80%;
  width: 23%;
  background-position: 0% 0%;
  background-size: cover;
  right: 0%;
  top: 0;
}

.featurecard-main {
  z-index: 1;
  position: relative;
}

.simplihost-navbar .navbar-toggler {
  box-shadow: none;
  border: none;
}

.potential-box:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: -10px;
  left: 0
}

.potential-box:nth-of-type(1):before {
  background: url("../img/potential1.png") no-repeat;
  background-size: 28%;
  background-position: left top;
}

.potential-box:nth-of-type(2):before {
  background: url("../img/potential2.png") no-repeat;
  background-size: 28%;
  background-position: left top;
}

.potential-box:nth-of-type(3):before {
  background: url("../img/potential3.png") no-repeat;
  background-size: 28%;
  background-position: left top;
}

.potential-box:nth-of-type(4):before {
  background: url("../img/potential4.png") no-repeat;
  background-size: 28%;
  background-position: left top;
}

.potential-box:nth-of-type(5):before {
  background: url("../img/potential5.png") no-repeat;
  background-size: 28%;
  background-position: left top;
}

.potential-box:nth-of-type(6):before {
  background: url("../img/potential6.png") no-repeat;
  background-size: 28%;
  background-position: left top;
}

.potential-box:nth-of-type(7):before {
  background: url("../img/potential7.png") no-repeat;
  background-size: 28%;
  background-position: left top;
}

.potential-box:nth-of-type(8):before {
  background: url("../img/potential8.png") no-repeat;
  background-size: 28%;
  background-position: left top;
}

.potential-box:nth-of-type(9):before {
  background: url("../img/potential9.png") no-repeat;
  background-size: 28%;
  background-position: left top;
}

.fixed-text {
  height: 100px;
  overflow: auto;
}

.fixed-heading {
  min-height: 45px;
}

/* ---------css2------------- */
.main-tabs .nav-tabs .nav-link {
  color: #484848;
  font-weight: 600;
  border: none
}

.main-tabs .nav-tabs .nav-link.active {
  color: #3551B6 !important;
  border: none;
  border-bottom: 2px solid #3551B6
}

.text-blue {
  color: #3551B6;
}

.bg-lightgrey {
  background-color: #F7F7F7;
}

.chk {
  accent-color: black !important;
  height: 15px;
  width: 15px
}

.filter-col {
  width: calc(20% - 12px);
  margin: 0 6px;
}

.bg-lgrey {
  background-color: #F7F7F7 !important;
}

.host-img {
  width: 100%;
  height: 100%;
  max-width: 150px;
  object-fit: cover;
}

.step-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.step-font {
  font-size: 42px;
  font-weight: 600;
}

.lblue {
  color: #32F0CD;
}

.bg-lblue {
  background-color: #32F0CD;
}

.max {
  width: max-content;
}

.lease-img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  border-radius: 10px;
}

.rad {
  width: 30px;
  height: 30px;
}

.lh-2 {
  line-height: 2.0;
}

.folder-img {
  width: 100%;
  height: 100%;
  max-width: 250px;
  border-radius: 10px;
  object-fit: cover;
}

.b-img {
  height: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dashed #ccc;
  border-radius: 10px;
}

input:focus {
  outline: none;
}

.text-lblue {
  color: #32F0CD;
}

.in-w {
  width: 55px;
}

.in-s {
  width: 105px;
}

.index-10 {
  z-index: 10;
}

.login-img {
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
  height: 100%;
  max-width: 500px;
}

.my-input {
  width: 100%;
  background-color: #F7FBFF;
  border: 1px solid #D4D7E3;
  padding: 10px;
  border-radius: 12px
}

.login-logo {
  width: 100%;
  height: 100%;
  max-width: 160px;
  object-fit: cover;
}

.login-h {
  height: 100dvh;
}

.sky-bg {
  background-color: #B4DFE5;
}

.social-img {
  width: 20px;
  height: 20px;
}

.position-or {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  top: 0px;
}

.index-q {
  position: absolute;
  width: max-content;
  z-index: 1;
  background-color: #fff;
  top: -12px;
  left: 50%;
  transform: translatex(-50%)
}

.set-div {
  width: 100%;
  height: 350px;
  border: 2px dashed #ccc;
  border-radius: 10px;
}

.pet-height {
  height: calc(100dvh - 320px);
  overflow-y: auto;
}

.sm-img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.img-property {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}

.position-cover {
  position: absolute;
  bottom: 4px;
  left: 2px
}

.position-drop {
  position: absolute;
  top: 4px;
  right: 2px
}

.room-counter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  width: 100%;
  margin-bottom: 10px;
}

.room-counter-label {
  font-size: 16px;
  font-weight: bold;
}

.room-counter-wrapper {
  display: flex;
  align-items: center;
}

.room-counter-button {
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  cursor: pointer;
}

.room-counter-count {
  font-size: 18px;
  margin: 0 15px;
}

.position-btn {
  position: absolute;
  z-index: 2;
  width: 50%;
  top: 12px;
  max-width: 190px;
  right: 65px;
}

.custom-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1040;
}

.main-canvas canvas {
  width: 100% !important;
  height: 100% !important;
}

.main-table table thead tr th {
  padding: 4px;
  font-weight: 400;
}

.main-table table tbody tr td {
  padding: 12px;
  background-color: #F7F7F7;
}

.main-table table thead tr {
  background-color: #F7F7F7;
  box-shadow: none
}

.main-table .table {
  box-shadow: none;
  background-color: #fff !important;
  border-collapse: separate;
  border-spacing: 0px 10px
}

.main-table table thead {
  box-shadow: none;
  background-color: transparent;
}

.prop-img {
  width: 100%;
  height: 100%;
  max-width: 50px;
  object-fit: cover;
  border-radius: 6px
}

.main-table .table tbody tr td {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd !important;
}

.main-table .table tbody tr td:first-child {
  border-left: 1px solid #ddd;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.main-table .table tbody tr td:last-child {
  border-right: 1px solid #ddd;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.table-img {
  width: 100%;
  height: 100%;
  max-width: 40px;
  object-fit: cover;
}

.bg-ldanger {
  background-color: rgba(244, 151, 108, 0.3);
  color: rgba(219, 127, 91, 1);
}

.bg-lred {
  background-color: #ffb3b3;
}

.bg-red2 {
  background-color: rgba(193, 53, 21, 0.3);
  color: #C13515;
}

.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-switch {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.toggle-label {
  font-size: 14px;
  font-weight: 500;
}

.toggle-label.off {
  margin-right: 8px;
  color: #9ca3af;
}

.toggle-label.on {
  margin-left: 8px;
  color: #9ca3af;
}

.toggle-switch.on .toggle-label.off {
  color: #717171;
}

.toggle-switch.off .toggle-label.on {
  color: #9ca3af;
}

.toggle-slider {
  width: 54px;
  height: 36px;
  background-color: #717171;
  border-radius: 18px;
  position: relative;
  transition: background-color 0.2s ease-in-out;
}

.toggle-switch.on .toggle-slider {
  background-color: #3551B6;
}

.toggle-knob {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
  transition: left 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-switch.on .toggle-knob {
  left: 21px;
}

.checkmark {
  color: #000;
  font-size: 12px;
}

.upload-img {
  height: 150px;
  width: 320px;
  border: 2px dashed #DEDEDE;
  border-radius: 8px;
  background-color: #F9F9F9;
}

.delete-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

.add-cover-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.steps {
  min-width: 1000px;
}

.step-min {
  overflow-x: scroll
}

.md-img {
  width: 25px !important;
  height: 25px !important;
  object-fit: contain;
}

.css-17o22dy-MuiAvatar-root {
  width: 25px !important;
  height: 25px !important;
  font-size: 12px !important;
}

.min-wd {
  min-width: 150px;
  width: 100%;
  display: block;
  text-align: center;
}

.avt .css-1wlk0hk-MuiAvatar-root {
  width: 25px;
  height: 25px;
}

.platform-icons .platform-icon {
  width: 20px;
  height: 20px;
  margin-right: 0.25rem;
}

.property-image {
  width: 50px;
  height: 50px;
  margin-right: 0.5rem;
}

/* ----------------Chat---------- */
.left-chat {
  width: calc(25% - 12px);
  margin: 0 6px;

}

.mid-chat {
  width: calc(75% - 12px);
  margin: 0 6px;
}

.mid {
  width: calc(100% - 300px);
  justify-content: space-between;
}

.right-chat {
  max-width: 300px;
  width: 100%;
  margin-left: 6px;
}

.main {
  height: calc(100dvh - 130px)
}

.css-113cboj-MuiTabs-root {
  min-height: 29px !important;
}

.css-19wsa2m-MuiButtonBase-root-MuiTab-root {
  min-height: 29px !important;
  min-width: 35px !important;
  padding: 6px 10px !important;
  font-size: 12px !important;
  font-weight: bold !important;
}

.chat-person.active {
  background-color: #E0E6FA;
  border-radius: 10px;
}

.chat-person:hover {
  background-color: #E0E6FA;
  border-radius: 10px;

}

.person-chat {
  height: calc(100dvh - 248px);
  overflow-y: auto;
}

.css-142372x-MuiButtonBase-root-MuiButton-root {
  min-width: 17px !important;
  padding: 8px 9px !important;
}

.css-uywun8-MuiPaper-root-MuiPopover-paper {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12) !important;
  top: 106px !important;
}

.md1-img {
  width: 30px;
  height: 30px;
  object-fit: contain
}

.chat-input {
  background: rgba(53, 81, 182, 0.1);

}

.ai-img {
  background-color: rgba(53, 81, 182, 0.1);
  padding: 9px 9px;
  border-radius: 5px;
}

.ar-img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 10px;
  border: 1px solid #ddd;
  z-index: 2;
}

.css-1sfmumn-MuiButtonGroup-root .MuiButtonGroup-firstButton,
.css-1sfmumn-MuiButtonGroup-root .MuiButtonGroup-middleButton {
  border-color: #fff !important;
}

.frag .css-142372x-MuiButtonBase-root-MuiButton-root {
  background-color: #3551B6 !important;
  font-size: 13px !important;
  min-width: 120px !important;
}

.frag .css-1gj9aim-MuiButtonBase-root-MuiButton-root {
  background-color: #3551B6 !important;
  font-size: 13px !important;
}

.chat-input {
  background: rgba(53, 81, 182, 0.1);
  padding: 12px;
  border-radius: 9px;
  font-size: 14px
}

.chat-start {
  height: calc(100dvh - 245px);
  overflow-y: auto;
}

.text-prpl {
  color: #3551B6;
}

.r-scroll {
  height: calc(100dvh - 133px);
  overflow-y: auto;
}

.pr-img {
  width: 100%;
  height: 100%;
  max-width: 70px;
  border-radius: 10px;
  object-fit: cover;
}

.selection-op {
  background: #D9D9D9;
  border: 0px;
  padding: 4px;
  border-radius: 4px;
}

.slides .slick-prev img {
  position: absolute;
  left: -14px
}

.slides .slick-next img {
  position: absolute;
  right: -14px;
}

.shadow-cus {
  box-shadow: 0px 0px 34px 0px #00000044 inset;
}

/* --------css-3------- */
.inputstyle {
  width: 100%;
  padding: 18px;
  border-radius: 10px;
  background-color: #F3F3F5;
  border: solid 1px #D5D5D5;
}

.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #717171;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: var(--blue);
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--blue);
}

input:checked+.slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.table {
  background-color: #F7F7F7;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.table thead tr {
  background-color: #ffffff;
  border: solid 5px #F7F7F7;
}

.table thead tr th {
  background-color: #ffffff;
  padding: 25px 15px;
  border-bottom: none;
}

.table tbody tr:last-child td {
  border-bottom: none;
}

.tblicon {
  width: 45px;
  height: 45px;
  color: #000;
  font-size: 25px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EDEEF0;
}

.redbtn {
  background-color: #F6DACD;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  color: #DB7F5B;
  font-weight: 600;
}

.table thead {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.graysection {
  background: #F7F7F7;
  height: calc(100dvh - 135px);
  border-radius: 20px;
  padding: 10px
}

.innerdiv {
  height: 100%;
  overflow: auto;
  padding: 0 10px;
}

.notif {
  background: #EBEBEB;
  border-radius: 15px;
}

.comimg {
  background-color: #fff;
  width: 100px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 15px;
  margin-right: 20px;
}

.inicons {
  color: var(--blue);
  font-size: 25px;
  margin-right: 15px;
}

.cannedinput {
  margin: 0 5px;
  border-radius: 5px;
  background: #F7F7F7;
  border: solid 1px #ccbcbc;
}

.greenbtn {
  background: var(--green);
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  margin-top: 5px;
}

.p-datepicker table td.p-datepicker-today>span {
  background: var(--green) !important;
  color: #fff !important;
  border-color: transparent;
}

.p-inputtext {
  color: #4b5563;
  background: transparent;
  border: none !important;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  appearance: none;
  border-radius: 6px;
  outline-color: transparent;
}

.p-button {
  color: #000;
  background: #D5D5D5;
  border: none !important;
  padding: 8px !important;
  border-radius: 6px;
}

.impdate {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: #F3F3F5;
  border: solid 1px #D5D5D5;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: inherit;
  text-align: center;
  border-style: solid;
  border-width: 0;
  padding: 10px 15px;
}

.p-datepicker:not(.p-datepicker-inline) .p-datepicker-header {
  background: #ffffff;
  padding: 10px;
}

.p-datepicker .p-datepicker-header {
  padding: 20px;
  color: #000;
  font-weight: 600;
  border-bottom: none !important;
}

.p-datepicker-header {
  justify-content: space-around !important;
  padding: 15px !important;
}

.p-link {
  margin: 0 5px;
}

.buttonbg {
  background-color: #E4E6F0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
}

.bluelink {
  width: 200px;
  text-align: center;
  background-color: #3551B6;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  padding: 20px;
  border-radius: 50px;
  margin: 10px;
}

.whitelink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  background-color: #fff;
  color: #000;
  font-weight: 600;
  border: solid 1px #3551B6;
  text-decoration: none;
  padding: 15px;
  border-radius: 50px;
  margin: 10px;
}

.whitelink span {
  background-color: #32F0CD;
  padding: 5px 10px;
  border-radius: 50px;
  margin-left: 10px;
}

.pricing-slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -60px;
}

.pricing-card {
  background: white;
  border: 2px solid #dfe3e8;
  border-radius: 30px;
  padding: 40px;
  width: 60%;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.slider-container {
  position: relative;
  margin: 20px 0;
}

.slider-input {
  width: 100%;
  appearance: none;
  height: 25px;
  background: #3551B6;
  border-radius: 20px;
  outline: none;
  transition: background 0.3s ease-in-out;
}

.slider-input::-webkit-slider-thumb {
  appearance: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
  border: 3px solid #3551B6;
  cursor: pointer;
}

.slider-input::-moz-range-thumb {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: white;
  border: 3px solid #3551B6;
  cursor: pointer;
}

.slider-labels {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  font-weight: 500;
  color: #333;
}

.pricing-info {
  font-size: 22px;
  margin-top: 30px;
  font-weight: 600;
}

.property-input {
  width: 60px;
  border: 2px solid #dfe3e8;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  font-size: 18px;
}

.signup-btn1 {
  background-color: #3551B6;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

/* ----------css4--------- */
.green-color {
  color: var(--green);
}

.light-black {
  color: #818181;
}

.white-color {
  color: white;
}

.light-grey {
  color: #757575;
}

.chocalte-color {
  color: rgba(72, 72, 72, 1);
}

.hero-text {
  line-height: 1.7;
}

.paratext-color {
  color: rgba(23, 23, 23, 1);
}

.hero-main-pic {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-main-pic::before {
  content: url(/imgs/heroleft.svg);
  position: absolute;
  left: 100px;
  top: 50px;
}

.hero-main-pic::after {
  content: url(/imgs/heroright.svg);
  position: absolute;
  right: 70px;
  top: 200px;
}

.hero-btn {
  background-color: var(--green);
  padding: 12px 50px;
  color: #000;
  border: 0px;
  border-radius: 5px;
}

.hero-section,
.listing-color {
  background-color: #F7F7F7;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.blue-color {
  color: var(--blue);
}

.featurecard-main {
  box-shadow: 0px 0px 30px 0px #0000000D;
}

.featurecard-img {
  width: 60px;
  height: 60px;
  background-color: #F4B942;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  flex-shrink: 0;
}

.featurecard-img2 {
  width: 50px;
  height: 50px;
  background-color: #F4B942;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  flex-shrink: 0;
}

.black-color {
  color: #000;
}

.featurecard-main2 {
  background: #fff;
  z-index: 2;
  box-shadow: 0px 0px 30px 0px #0000000D;
}

.featurecard-main2:hover {
  background-color: var(--blue);
  color: #ffffff;
}

.pricing {
  background-color: #E8FEFF;
}

.more-btn {
  background-color: var(--green);
  border: 0px;
  border-radius: 30px;
  color: var(--blue);
}

.simplified-price {
  background-color: var(--blue);
  border-radius: 20px;
  min-height: 350px;
}

.simplified-btn {
  padding: 10px 30px;
  background-color: var(--green);
  border: 0px;
  border-radius: 30px;
  color: var(--blue);
}

.full-feature {
  background-color: var(--green);
  border-radius: 20px;
  min-height: 450px;
}

.fullyfeature-btn {
  background-color: var(--blue);
  color: white;
  padding: 10px 30px;
  border: 0px;
  border-radius: 30px;
}

.simplehost {
  background-color: #ffffff;
}

.simplihost-card {
  box-shadow: 0px 30px 50px 0px #8742EB1A;
  border-radius: 20px;
}

.around {
  background-image: linear-gradient(180deg, #E9E9EC 0%, #05FFD1 100%);
}

.slider-arrow {
  width: 70px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slidercomma {
  width: 15px;
  height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-img1 {
  width: 35px;
  height: 35px;
  background-color: #FFFAE9;
  border-radius: 50%;
}

.slider-bg {
  background-color: #ffffff;
  border: 1px solid #FD6363;
  border-radius: 5px;
}

.footer {
  background-color: var(--blue);
  color: #ffffff;
}

.footer-list li {
  margin-top: 20px;
}

.f-size {
  font-size: 25px;
}

.footer-text {
  background-color: var(--blue);
  color: #ffffff;
}

/* ------------listing------ */
.listinghero-para {
  max-width: 500px;
}

.listings-card {
  box-shadow: 0px 7px 20px 0px #0000001A;
}

.listing-card-size {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: #F4B942;
  display: flex;
  justify-content: center;
  align-items: center;
}

.borderyellow {
  height: 40px;
  background-color: #F4B942;
  border-radius: 0px 70px 0px 10px;
}

.heading-border {
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  display: inline-block;
  max-width: max-content;
}

.furnished-size {
  width: 380px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.furnished-shadow {
  position: relative;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.1);
}

.myy-shadow {
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.1);
}

.furnishedover-size {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 1);
  position: absolute;
  top: 30px;
  right: 30px;
}

.furnished-leftarrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 145px;
  left: 30px;
  background-color: rgba(255, 255, 255, 1);
}

.furnished-rightarrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 145px;
  right: 30px;
  background-color: rgba(255, 255, 255, 1);
}

.furnished-flower {
  width: 50px;
  height: 50px;
  background-color: rgba(217, 217, 217, 1);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.furnished-location {
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.furniture-size {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail-btn {
  padding: 8px 20px;
  background-color: var(--blue);
  color: white;
  border: 0px;
  border-radius: 10px;
}

.appartment-bg {
  background-color: rgba(255, 255, 255, 0.18);
}

.fa-size {
  font-size: 30px;
}

.listingdeatil-size {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listingshow-all-btn {
  padding: 5px 15px;
  color: var(--blue);
  background-color: transparent;
  border: 1px solid var(--blue);
  border-radius: 8px;
}

.well-funished {
  background-color: rgba(247, 247, 247, 1);
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 10px;
}

.funished-btn {
  background: rgba(50, 240, 205, 0.34);
  border-radius: 10px;
}

.funishedpic-size {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.furnushedapartment-size {
  object-fit: cover;
}

.furnushedapartment-size2 {
  object-fit: cover;
}

.furnushedapartment-size img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.furnushedapartment-size2 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.offeredpic-size {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactpic-size {
  width: 45px;
  height: 45px;
  background-color: rgba(53, 81, 182, 1);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-border {
  border: 0.5px solid rgba(0, 0, 0, 1);
  border-radius: 5px;
}

.fa-yellow {
  color: rgba(255, 153, 0, 1);
}

.custom-progress-bar {
  background-color: rgba(255, 153, 0, 1);
  height: 100%;
}

.deatilreview-size {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-last {
  color: rgba(205, 205, 205, 1);
  ;
}

.fa-circle {
  font-size: 10px;
}

.review-main {
  background-color: rgba(247, 247, 247, 1);
}

.deatilreview-btn {
  padding: 10px 25px;
  background-color: rgba(53, 81, 182, 1);
  color: white;
  border-radius: 5px;
  border: none;
}

.login-size {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-checkboxlogin {
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  background-color: #fff;
  appearance: none;
  cursor: pointer;
  position: relative;
  border-radius: 4px;
  flex-shrink: 0;
}

.custom-checkboxlogin:checked {
  background-color: #000;
  border-color: #000;
  flex-shrink: 0;
}

.custom-checkboxlogin:checked::after {
  content: '\2714';
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  flex-shrink: 0;
}

.custom-checkboxlogin:focus {
  outline: none;
  flex-shrink: 0;
}

.login-btn {
  background-color: var(--green);
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
}

.siminput-bg {
  background-color: rgba(247, 251, 255, 1);
}

.siminput-bg:focus {
  background-color: rgba(247, 251, 255, 1);
}

.signup-btn {
  background-color: var(--green);
  padding: 10px 170px;
  border-radius: 10px;
  color: black;
  border: none;
}

.signingoogle-btn {
  padding: 10px 80px;
  background-color: rgba(243, 249, 250, 1);
  border: none;
  border-radius: 10px;
}

.signinfacebook-btn {
  padding: 10px 70px;
  background-color: rgba(243, 249, 250, 1);
  border: none;
  border-radius: 10px;
}

.signin-icon {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.verficationpic-size {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.verfication-bg {
  background-color: rgba(250, 250, 250, 1);
  border: 1px solid rgba(205, 205, 205, 1);
  border-radius: 5px;
}

.verfication-bg:hover {
  background-color: rgba(250, 250, 250, 1);
  border: 1px solid black;
  border-radius: 5px;
}

.confirmation-size {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.inbox-size {
  width: 60px;
  height: 60px;
  border: 1px solid rgba(96, 96, 96, 1);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  padding: 0;
  outline: none;
  background-color: #fff;
}

.inbox-size:focus {
  border: 1px solid black;
}

.send-btn {
  border: none;
  background-color: transparent;
}

.simplihost-size {
  background-color: rgba(53, 81, 182, 1);
  border-radius: 5px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listingsearh-bg {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 5px 0px;
  font-size: 14px;
}

.listingsearh-bg:focus {
  background-color: transparent;
  border: none;
  outline: none;
}

.listingsearh-bg:hover {
  background-color: transparent;
  border: none;
  outline: none;
}

.listingsearh-bg:checked {
  background-color: transparent;
  border: none;
  outline: none;
}

.searchform-group {
  display: flex;
  flex-direction: column;
}

.searchform-group label {
  font-weight: 700;
}

.listingform-bg {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 14px 31px 0px rgba(0, 0, 0, 0.05);
}

.listingsearchicon-size {
  height: 50px;
  width: 50px;
  background-color: var(--blue);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.listingborder-right {
  border-right: 1px solid rgba(221, 221, 221, 1)
}

.high-fives-title {
  position: relative;
}

.high-fives-title::after {
  content: "";
  display: block;
  width: 400px;
  height: 10px;
  background-color: rgba(53, 81, 182, 0.5);
  position: absolute;
  bottom: 2px;
  left: 0;
}

.appartment-bg {
  background: rgba(255, 255, 255, 0.18);
  border: 2px solid rgba(255, 255, 255, 0.34);
  box-shadow: 0px 10px 24px 0px rgba(0, 0, 0, 0.05);

}

.listingshare-size {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-close {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: rgba(151, 151, 151, 1);
  color: white;
  position: relative;
}

.modal-close:hover,
.modal-close:focus {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: rgba(151, 151, 151, 1);
  position: relative;
}

.modal-close::before {
  content: "×";
  font-size: 40px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.listingsafety-border {
  border: 0.5px solid rgba(0, 0, 0, 1);
  border-radius: 10px;
}

.listingsecond-colbg {
  background-color: rgba(185, 250, 238, 1);
  border-radius: 10px;
}

.glacerbed-size {
  width: 100px;
  height: 80px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.superhost-size {
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glacer-bg {
  box-shadow: 0px 10px 14px 0px rgba(237, 237, 237, 0.7);
  border: 0.5px solid rgba(244, 151, 108, 1);
  border-radius: 10px;
}

.listingdropdown-bg {
  background-color: rgba(246, 248, 255, 1);
  border-radius: 10px;
  border: none;
  box-shadow: none;
  outline: none;
}

.listingdropdown-bg:hover {
  background-color: rgba(246, 248, 255, 1);
  border: none;
}

.listingdropdown-bg:focus,
.listingdropdown-bg:active,
.listingdropdown-bg.show {
  background-color: rgba(246, 248, 255, 1) !important;
  border: none;
  box-shadow: none;
  outline: none;
}

.apartment-progressbar-wrapper {
  width: 40%;
  height: 7px;
}

.apartment-progressbar-bar {
  background-color: rgba(255, 153, 0, 1);
  height: 100%;
}

.progressbar-width {
  width: 180px;
}

/* ---------navbar------------ */
.simplihost-navbar {
  background-color: var(--blue);
  color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.simplihost-navbar .navbar-nav .nav-link.active {
  color: var(--green) !important;
  font-weight: 600;
}

.simplihost-navbar .navbar-nav .nav-link {
  color: white;
}

.simplihost-navbar .navbar-nav .nav-link:hover {
  color: #ddd;
}

.simplihost-navbar .navbar-nav .dropdown-menu .dropdown-item:hover {
  color: white;
}

.simplihostlogin-btn {
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: 10px;
  color: white;
}

.simplihosttrail-btn {
  background-color: var(--green);
  color: white;
  border-radius: 10px;
  border: none;
}

.simplhostnnav-logo {
  max-width: 150px;
}

.dropdownpic-size {
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reverse-btn {
  background-color: var(--blue);
  color: white;
  border: none;
  border-radius: 5px;
}

/* --------css5-------- */

.bg-prpl {
  background-color: var(--prpl);
}

.bg-liteOrange {
  background-color: #FF9900;
}

.bg-exxBlue {
  background-color: #B9C9E6;
}

.bg-exxxSky {
  background-color: #EBFDFA;
}

.bg-exxOrange {
  background-color: #F3CCBA;
}

.bg-exxYellow {
  background-color: #F2E8C3;
}

.bg-exxGreen {
  background-color: #B8F8ED;
}

.bg-exgreen {
  background-color: #D6FCF5;
}

.bg-litgrey {
  background-color: #F8F8F8;
}

.bg-exsky {
  background-color: #F5F6FB;
  ;
}

.bg-dgreen {
  background-color: #35D9BB;
}

.bg-exblue {
  background-color: #C6D4FF;
}

.bg-grey {
  background-color: #F7F7F7;
}

.bg-yellow {
  background-color: #F4B942;
}

.bg-orange {
  background-color: #FE5D26;
}

.litblue {
  color: var(--blue) !important;
}

.f-30 {
  font-size: 30px;
}

.common-hero {
  padding-top: 170px !important;
}

.feature-div {
  max-width: 600px;
}

.fhero-sec,
.commhero-sec {
  padding-bottom: 120px;
  border-bottom-left-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
}

.feature-para,
.comm-para,
.effort-para,
.guest-para {
  line-height: 30px;
}

.logoPics-sec,
.rang-section {
  margin-top: -135px;
}

.logoImg-main {
  text-align: center;
  border-radius: 150px;
  padding: 40px 40px;
  margin: 0 auto;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.logopic-main {
  padding: 10px 30px;
}

.logo-imgs {
  width: 80px;
  height: 25px;
}

.vacation-para {
  line-height: 30px;
}

.explore-btn {
  padding: 10px 30px;
  background-color: var(--blue);
  border: 0;
  border-radius: 8px;
  color: white;
}

.vacation-cardPic {
  height: 90px;
  width: 60px;
}

.coreF-card1 {
  width: max-content;
}

.coreF-card1 img {
  width: 30px;
}

.unlock-sec {
  background: linear-gradient(180deg, #FFFFFF 0%, #B4DFE5 100%);
}

.trans-shadow {
  position: relative;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    linear-gradient(110.72deg, rgba(255, 255, 255, 0.3) -2.91%, rgba(255, 255, 255, 0) -2.9%, rgba(255, 255, 255, 0) 17.95%, rgba(255, 255, 255, 0.3) 19.42%, rgba(255, 255, 255, 0.3) 34.01%, rgba(255, 255, 255, 0) 36.21%, rgba(255, 255, 255, 0) 50.86%, rgba(255, 255, 255, 0.3) 53.07%, rgba(255, 255, 255, 0.3) 66.11%, rgba(255, 255, 255, 0) 68.32%);
}

.colrPic-main {
  backdrop-filter: blur(9.84276294708252px);
  box-shadow: 0px -1.23px 2.46px 0px #FFFFFF inset;
  box-shadow: 0px 9.84px 41.83px 0px #00000014;
  position: relative;
  z-index: 1;
}

.colr-pic {
  position: absolute;
  top: -9px;
  left: -9px;
  z-index: -1;
}

.colr-img {
  height: 100%;
  width: 85px;
}

.unlock-card1 {
  border: 1px solid #84D9C2;
}

.unlock-card2 {
  border: 1px solid #B098E4;
}

.unlock-card3 {
  border: 1px solid #F5A696;
}

.unlock-card4 {
  border: 1px solid #7690CC;
}

.unlock-card5 {
  border: 1px solid #EFBB60;
}

.unlock-card6 {
  border: 1px solid #59D560;
}

.unlock-card7 {
  border: 1px solid #6FC08F;
}

.unlock-card8 {
  border: 1px solid #79A5EC;
}

.unlock-card9 {
  border: 1px solid #DB847E;
}

.leran-btn {
  padding: 15px 32px;
  background: linear-gradient(#32F0CD, #3BB29C);
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.14);
  color: #222222;
}

.leran-btn:hover {
  color: #222222;
}

.my-shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.onboarding-card:hover {
  box-shadow: 0px 0px 34px 0px rgba(216, 216, 216, 0.4) inset;
}

.accrdin-main {
  position: relative;
  background-image: url('../img/accrdion-img.svg');
  background-position: calc(100% - 25px) bottom;
  background-repeat: no-repeat;
  background-size: 300px;
  min-height: 300px;
}

.custom-accordion .accordion-item {
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, border-radius 0.3s ease;
}

.custom-accordion button {
  border: none;
  outline: none;
  box-shadow: none;
  background: transparent;
}

.custom-accordion .accordion-button:not(.collapsed) {
  background-color: white;
  border-radius: 8px;
  box-shadow: none;
  color: #000;
}

.custom-accordion .accordion-button.collapsed {
  border-radius: 8px;
}

.custom-accordion button svg {
  min-width: 25px;
}

.custom-accordion .accordion-button:focus {
  border: none;
  outline: 0;
  box-shadow: none;
}

.custom-accordion .accordion-button::after {
  display: none;
}

.custom-accordion .accordion-item {
  border: none;
}

.accordion-item {
  border-radius: 8px !important;
}

.custom-accordion .accordion-button:not(.collapsed) .icon {
  transform: rotate(135deg);
}

.gotBack-sec {
  background: linear-gradient(90deg, rgba(180, 223, 229, 0) 0%, rgba(173, 220, 226, 0.2) 50%, rgba(180, 223, 229, 0) 100%);
}

.gotBack-para {
  line-height: 30px;
}

.gotBack-shadow {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.dot-icon {
  font-size: 10px;
}

.tic-img {
  height: 25px;
  width: 25px;
}

.dot-img {
  height: 6px;
  width: 6px;
}

.communication-sec {
  background: linear-gradient(to bottom, #ECFDFA 0%, #FFFFFF 100%);
}

.unified-border {
  border: 9.35px solid #FFFFFFB2;
}

.commCard-btn {
  padding: 14px 30px;
  border-radius: 10px;
  color: white;
}

.price-btn1 {
  background-color: var(--blue);
  color: white;
  border: 0;
  padding: 12px 45px;
  border-radius: 30px;
}

.price-btn2 {
  background-color: var(--white);
  color: black;
  border: 1px solid var(--blue);
  padding: 7px 23px;
  border-radius: 30px;
}

.priceBtn-main {
  max-width: 400px;
  margin: 0 auto;
  background-color: #E4E6F0;
  padding: 10px 15px;
  border-radius: 30px;
}

.rang-contanr {
  text-align: center;
  background-color: white;
  border: 4px solid #3551B633;
  border-radius: 30px;
  box-shadow: 0px 0px 24px 0px #DADADAB2;
}

.range-labels {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.input-gray {
  background-color: #F1F1F1 !important;
}

.propCount {
  width: 70px;
  text-align: center;
  border: none;
}

.rang-btn-div {
  margin-bottom: -80px !important;
}

.priceLogo-sec {
  margin-top: 0 !important;
}

.questionHero-img1 {
  width: 100%;
  height: 320px;
}

.questionHero-img2 {
  width: 100%;
  height: 300px;
}

.questionHero-img3 {
  width: 100%;
  height: 30px;
}

.questionHero-img4 {
  width: 100%;
  height: 50px;
}

.question-main {
  position: relative;
}

.question-p1 {
  position: relative;
}

.question-p2 {
  position: absolute;
  left: 0;
  bottom: 0;
}

.question-p3 {
  position: absolute;
  left: -134px;
  top: 65px;
}

.question-p4 {
  position: absolute;
  right: -125px;
  top: 0;
}

.questionhero-sec {
  min-height: 0 !important;
  padding-bottom: 0 !important;
}

.search-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 460px;
  padding: 10px;
  border-radius: 30px;
  background-color: white;
  border: 1px solid #ddd;
}

.search-main .search-input {
  border: none;
  background: none;
  outline: none;
  flex: 1;
  padding-left: 10px;
  color: #555;
}

.search-main .search-input::placeholder {
  color: #999;
}

.search-main .search-input::placeholder {
  content: ' ';
  background: none;
}

.search-main .search-icon {
  color: #fff;
  background-color: var(--blue);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.videoimg-main {
  background-color: var(--prpl);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  flex-shrink: 0;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-shadow {
  box-shadow: 0px 30px 50px 0px #8742EB1A;
}

@media screen and (max-width: 1200px) {
  .filter-col {
    width: calc(33.33% - 12px);
    margin: 6px 6px;
  }

  /* -----css4---- */
  .hero-main-pic::before {
    left: 50px;
    top: 30px;
    width: 75px;
  }

  .hero-main-pic::after {
    right: 20px;
    top: 150px;
    width: 80px;
  }
}

@media (max-width: 1024px) {
  .accrdin-main {
    background-size: 250px;
    background-position: calc(100% - 20px) bottom;
    padding: 10px;
    min-height: 250px;
  }

  .custom-accordion .accordion-button {
    padding: 15px 18px;
    font-size: 16px;
  }

  .custom-accordion .accordion-body {
    font-size: 14px;
  }
}

@media screen and (max-width: 992px) {
  .bell {
    width: 50px;
  }

  .border-tab-0:before {
    width: 0px;
  }

  .simplihost-navbar .dropdown-menu {
    width: 100%;
  }

  .container {
    max-width: 100% !important;
  }

  .filter-col {
    width: calc(50% - 12px);
    margin: 6px 6px;
  }

  .shadow-custom {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 12px;
  }

  .accrdin-main {
    background-image: none;
    padding: 0;
    min-height: auto;
  }

  .custom-accordion .accordion-button {
    padding: 12px 15px;
    font-size: 14px;
  }

  .custom-accordion .accordion-body {
    font-size: 12px;
  }

  .custom-accordion .accordion-item {
    margin-bottom: 10px;
  }

  .accordion-header {
    display: flex;
    justify-content: space-between;
  }

  .accordion-header .fas.fa-plus {
    font-size: 18px;
  }

  .container {
    width: 100%;
    padding: 0 15px;
  }

  .logoImg-main {
    border-radius: 90px;
  }

  .search-main {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .searchform-group {
    border: none !important;
  }

  /* --------css4------ */
  .hero-main-pic::before {
    left: 20px;
    top: 20px;
    width: 60px;
  }

  .hero-main-pic::after {
    right: 20px;
    top: 100px;
    width: 60px;
  }

  .listingform-bg {
    flex-direction: column;
  }

  .searchform-group {
    width: 100%;
    margin-bottom: 10px;
  }

  .searchform-group label {
    margin-bottom: 5px;
  }

  .listingsearchicon-size {
    width: 40px;
    height: 40px;
    margin-top: 10px;
  }

  .listingsearh-bg {
    padding: 10px 0;
  }

  .listingborder-right {
    border-right: none
  }

  .simplified-price {
    background-color: var(--blue);
    border-radius: 20px;
    min-height: 350px;
    min-width: 200px;
  }

  .full-feature {
    background-color: var(--green);
    border-radius: 20px;
    min-height: 350px;
    min-width: 200px;
  }

  .logoImg-main {
    border-radius: 50px;
  }
}

@media screen and (max-width: 576px) {
  .vertical-tab-left {
    max-width: calc(100% - 20px);
    margin: 0 auto;
    height: max-content !important;
  }

  .vertical-tab-right {
    width: calc(100% - 0px);
    height: auto;

  }

  .vertical-tabs.main-tabs .nav-tabs .nav-link.active {
    border-radius: 6px;
  }

  .bell {
    width: 40px;
  }

  .high-slide .slick-prev,
  .high-slide .slick-next {
    width: 40px !important;
  }

  .high-slide .slick-prev {
    right: 50px;
    left: auto;
  }

  .filter-col {
    width: calc(100% - 12px);
    margin: 6px 6px;
  }

  .lease-img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    border-radius: 10px;
  }

  .font-des {
    font-size: 14px;
  }

  .rad {
    width: 20px;
    height: 20px;
  }

  .step-font {
    font-size: 27px;
    font-weight: 600;
  }

  .slides .slick-prev img {
    display: none;
  }

  .slides .slick-next img {
    display: none;
  }

  .main-tabs .nav-tabs .nav-link {
    padding: 4px 8px;
    font-size: 15px;
  }

  /* -------css-4------ */
  .custom-padd {
    padding: 0 10px
  }

  .detail-btn {
    padding: 5px 12px;
    background-color: var(--blue);
    color: white;
    border: 0px;
    border-radius: 10px;
  }

  .hero-main-pic::before,
  .hero-main-pic::after {
    display: none;
  }

  .high-fives-title {
    position: relative;
  }

  .high-fives-title::after {
    content: "";
    display: block;
    width: 290px;
    height: 10px;
    background-color: rgba(53, 81, 182, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    top: 25px;
  }

  .signup-btn {
    background-color: var(--green);
    padding: 8px 100px;
    border-radius: 10px;
    color: black;
    border: none;
    width: 100%;
  }

  .signingoogle-btn {
    padding: 8px 50px;
    background-color: rgba(243, 249, 250, 1);
    border: none;
    border-radius: 10px;
    width: 100%;
  }

  .signinfacebook-btn {
    padding: 8px 50px;
    background-color: rgba(243, 249, 250, 1);
    border: none;
    border-radius: 10px;
    width: 100%;
  }

  .inbox-size {
    width: 40px;
    height: 40px;
    border: 1px solid rgba(96, 96, 96, 1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    padding: 0;
    outline: none;
    background-color: #fff;
  }
}

@media screen and (max-width: 480px) {
  .high-slide .high-fives-title {
    margin-bottom: 60px !important;
  }

  .high-slide .slick-prev,
  .high-slide .slick-next {
    top: 50px;
  }
}

@media screen and (max-width:433px) {
  .priceBtn-main {
    flex-wrap: wrap;
  }

  .price-btn2 {
    margin-top: 10px;
    margin-left: 0 !important;
  }
}

@media screen and (max-width:390px) {
  .logoPics-sec {
    margin-top: -100px;
  }
}

@media (min-width: 1025px) {
  .accrdin-main {
    background-size: 300px;
  }
}